# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Astro build output
dist/
.cache/
.vercel/
.netlify/
output/

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Lock files (si no quieres versionarlos)
package-lock.json
pnpm-lock.yaml
yarn.lock

# macOS & system files
*.DS_Store